* {
  font-family: "Playfair Display", serif;
}
.review-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-img {
  height: 120px;
  margin-top: 75px;
  margin-bottom: 20px;
}
.Rp-heading-box {
  display: flex;
  justify-content: center;
  font-size: 10px;
}

.Rp-grid-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 7px;
}
.img-box {
  margin: 20px 15px 7px 10px;
}

.img-box img {
  width: 100%;
}

@media (max-width: 850px) {
  .Rp-grid-box {
    display: grid;
    grid-template-columns: 1fr;
  }
}
